/* Estilos generales, fuentes, etc */
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');

:root {
  --blue-600: #2f9cc7;
  --blue-500: #10103d;
  --fuente-Monserrat: 'Montserrat Alternates', sans-serif;
  --fuente-ABeeZee: 'ABeeZee', sans-serif;
}
body {
  font-family: var(--fuente-Monserrat);
}
/* ------------------ Cristian --------------------*/
/* Home */

/* ------------------ ARACELI --------------------*/
/* Autoridades */

/* ------------------ EMI --------------------*/
/* Institucion */
.thistory{
 font-family: 'ABeeZee', sans-serif;
}
.history{
  font-family: 'Montserrat', sans-serif;
}
.aula{
  position: absolute;
  width: 200px;
  height: 200px;
  left: 822px;
  top: 291px;
}

/* ------------------ JULIAN --------------------*/
/* Cartelera  */
/* materialesdidacticos */

/* ------------------ ANDRES --------------------*/
/*  Contacto */